doctype html
html(lang="en")
  include includes/head.pug
  body
    .container
      .jumbotron
        h1.display-4 Welcome
        p.lead 欢迎登陆鱼丸蛋蛋游戏
        hr.my-4
        p 首先，创建一个你的专属账号，点击下方按钮继续
        .row
          .col.col-2
            a.btn.btn-primary.btn-lg(href="/sign-up", role="button") 注册
          .col
            a.btn.btn-primary.btn-lg(href="/sign-in", role="button") 登陆